// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h4:hover{
    color: red;
    cursor: pointer
}

img {
  width: 130px;
}

.navigation img {
    width: 250px;
}

.thumbnail {
  text-align: -moz-center;
  text-align: -webkit-center;
  padding-top: 20px;;
}

.image img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
  	-moz-transition: all 1s ease; /* Firefox */
  	-o-transition: all 1s ease; /* IE 9 */
  	-ms-transition: all 1s ease; /* Opera */
  	transition: all 1s ease;
}

.image:hover img {
    -webkit-transform:scale(1.15); /* Safari and Chrome */
    -moz-transform:scale(1.15); /* Firefox */
    -ms-transform:scale(1.15); /* IE 9 */
    -o-transform:scale(1.15); /* Opera */
     transform:scale(1.15);
}

body { 
  margin: 0;
  font-family: Arial;
}


.sub-header{
    color: deepskyblue;
    text-align: center;
    margin: 0;
}

.sub-header-top{
    padding-top: 80px;
}

.active {
    color: green;
}

.menu {
    position:relative;
  }
  
  .navigation {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
  }
  
  .navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }

  .intro, h5 {
      margin-top: 15px;
      margin-bottom: 0px;
  }
  
  .navigation li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    color:#000000;
  }
  
  .navigation li a:hover,
  .navigation .button:hover {
    background-color: #f4f4f4;
  }
  
  .navigation .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    color:#000000;
  }
  
  .navigation .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    font-family: 'Open Sans', sans-serif;
    text-transform:uppercase;
  }
  
  .navigation .icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .navigation .icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .navigation .icon .navicon:before,
  .navigation .icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .navigation .icon .navicon:before {
    top: 5px;
  }
  
  .navigation .icon .navicon:after {
    top: -5px;
  }
  
  .navigation .button {
    display: none;
  }
  
  .navigation .button:checked ~ .menu {
    max-height: 240px;
  }
  
  .navigation .button:checked ~ .icon .navicon {
    background: transparent;
  }
  
  .navigation .button:checked ~ .icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .navigation .button:checked ~ .icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .navigation .button:checked ~ .icon:not(.steps) .navicon:before,
  .navigation .button:checked ~ .icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  @media (min-width: 48em) {
    .navigation li {
      float: left;
    }
    .navigation li a {
      padding: 20px 30px;
    }
    .navigation .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .navigation .icon {
      display: none;
    }
  }

  @keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }
    
    body { margin: 0; } 
    div#slider { overflow: hidden; }
    div#slider figure img { width: 20%; float: left; }
    div#slider figure { 
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 7s slidy infinite; 
    }
    