// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h4:hover{
    color: red;
    cursor: pointer
}

img {
  width: 130px;
}

.navigation img {
    width: 250px;
}

.thumbnail {
  text-align: -moz-center;
  text-align: -webkit-center;
  padding-top: 20px;;
}

.image img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
  	-moz-transition: all 1s ease; /* Firefox */
  	-o-transition: all 1s ease; /* IE 9 */
  	-ms-transition: all 1s ease; /* Opera */
  	transition: all 1s ease;
}

.image:hover img {
    -webkit-transform:scale(1.15); /* Safari and Chrome */
    -moz-transform:scale(1.15); /* Firefox */
    -ms-transform:scale(1.15); /* IE 9 */
    -o-transform:scale(1.15); /* Opera */
     transform:scale(1.15);
}

body { 
  margin: 0;
  font-family: Arial;
}


.sub-header{
    color: deepskyblue;
    text-align: center;
    margin: 0;
}

.sub-header-top{
    padding-top: 80px;
}

.active {
    color: green;
}

.menu {
    position:relative;
  }
  
  .navigation {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: absolute;
    z-index: 99999999;
    width: 100%;
  }
  
  .navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }

  .intro, h5 {
      margin-top: 15px;
      margin-bottom: 0px;
  }
  
  .navigation li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    color:#000000;
  }
  
  .navigation li a:hover,
  .navigation .button:hover {
    background-color: #f4f4f4;
  }
  
  .navigation .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    color:#000000;
  }
  
  .navigation .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    font-family: 'Open Sans', sans-serif;
    text-transform:uppercase;
  }
  
  .navigation .icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .navigation .icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .navigation .icon .navicon:before,
  .navigation .icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .navigation .icon .navicon:before {
    top: 5px;
  }
  
  .navigation .icon .navicon:after {
    top: -5px;
  }
  
  .navigation .button {
    display: none;
  }
  
  .navigation .button:checked ~ .menu {
    max-height: 240px;
  }
  
  .navigation .button:checked ~ .icon .navicon {
    background: transparent;
  }
  
  .navigation .button:checked ~ .icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .navigation .button:checked ~ .icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .navigation .button:checked ~ .icon:not(.steps) .navicon:before,
  .navigation .button:checked ~ .icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  @media (min-width: 48em) {
    .navigation li {
      float: left;
    }
    .navigation li a {
      padding: 20px 30px;
    }
    .navigation .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .navigation .icon {
      display: none;
    }


  }

  @media only screen and (max-width: 768px) {
    #slider {  margin: 0 auto; height: 225px !important; width: 100% !important}
}

  @keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }
    
    body { margin: 0; } 
    div#slider { height:400px; overflow: hidden; margin: 0 auto;
      width: 69%;}
    div#slider figure img { width: 20%; float: left; }
    div#slider figure { 
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 7s slidy infinite; 
    }
    



    #rig {
      max-width:900px;
      margin:0 auto; /*center aligned*/
      padding:0;
      font-size:0; /* Remember to change it back to normal font size if have captions */
      list-style:none;
      background-color:#000;
  }
  #rig li {
      display: inline-block;
      *display:inline;/*for IE6 - IE7*/
      width:25%;
      vertical-align:middle;
      box-sizing:border-box;
      margin:0;
      padding:0;
  }
          
  /* The wrapper for each item */
  .rig-cell {
      /*margin:12px;
      box-shadow:0 0 6px rgba(0,0,0,0.3);*/
      display:block;
      position: relative;
      overflow:hidden;
  }
          
  /* If have the image layer */
  .rig-img {
      display:block;
      width: 100%;
      height: auto;
      border:none;
      transform:scale(1);
      transition:all 1s;
  }
  
  #rig li:hover .rig-img {
      transform:scale(1.05);
  }
          
  /* If have the overlay layer */
  .rig-overlay {
      position: absolute;
      display:block;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      background: #3DC0F1 url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/taj-mahal_copy.jpg) no-repeat center 20%;
      background-size:50px 50px;
      opacity:0;
      filter:alpha(opacity=0);/*For IE6 - IE8*/
      transition:all 0.6s;
  }
  #rig li:hover .rig-overlay {
      opacity:0.8;
  }
  
  /* If have captions */
  .rig-text {
      display:block;
      padding:0 30px;
      box-sizing:border-box;
      position:absolute;
      left:0;
      width:100%;
      text-align:center;
      text-transform:capitalize;
      font-size:18px;
      font-weight:bold;
      font-family: 'Oswald', sans-serif;
      font-weight:normal!important;
      top:40%;
      color:white;
      opacity:0;
      filter:alpha(opacity=0);/*For older IE*/
      transform:translateY(-20px);
      transition:all .3s;
  }
  #rig li:hover .rig-text {
      transform:translateY(0px);
      opacity:0.9;
  }
  
  @media (max-width: 9000px) {
      #rig li {
          width:25%;
      }
  }
  
  @media (max-width: 700px) {
      #rig li {
          width:33.33%;
      }
  }
  
  @media (max-width: 550px) {
      #rig li {
          width:50%;
      }
  }